<div class="home-box">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= image_url("home1.jpg") %>" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_url("home2.jpg") %>" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_url("home3.jpg") %>" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_url("home4.jpg") %>" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="contenner-courses">
    <div class="text-courses">
      <h2>Bạn muốn biết trình độ tiếng Anh của mình?</h2>
      <p>Hãy thử kiểm tra nhanh trình độ tiếng Anh của bạn qua bài trắc nghiệm online của chúng tôi và xem trình độ của bạn ở mức nào?</p>
    </div>
    <div class="grid-container">
        <div class="div-couurses">
          <a href= "#" >
            <img src="<%= image_url("courses1.jpg")%>" >
            Bài kiểm tra cơ bản
          </a>
        </div>
        <div >
          <a href= "#" >
            <img src="<%= image_url("courses2.jpg") %>" >
            Thử thách phản xạ tiếng Anh
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses3.jpg")%>" >
            Kiểm tra trình độ tiếng anh
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses4.jpg")%>" >
           Kiểm tra trình độ IELTS
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses5.jpg")%>" >
            Tìm Khóa Học Phù Hợp
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses6.jpg")%>" >
            Kiểm Tra tiếng Anh văn phòng
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses7.jpg")%>" >
            Trắc nghiệm phỏng tiếng Anh
          </a>
        </div>
        <div>
          <a href= "#" >
            <img src="<%= image_url("courses8.jpg")%>" >
            Trắc Nghiệm kiểm tra trình độ TOEIC
          </a>
        </div>
    </div>
  </div>
</div>
