
<hr/>
<%= form_with model: @word, url: admin_words_path, method: :post do |form| %>
  <div class="form-group">

    <%=form.select :category_id, options_for_select(Category.all.pluck(:name, :id))%><br>

    <%= form.label :content %>
    <%= form.text_area :content, size: "60x10",class: "form-control" %><br>

  <div class="links">
    <%= link_to_add_association 'Add address', form, :word_answers %>
  </div>

    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
