
<div class="wrapper">
  <div class="img">
    <%= image_tag @category.photo_url.to_s %>
  </div>
  <div class="title">
    <%= @category.name %>
    <span>
      Hãy thử kiểm tra nhanh trình độ tiếng Anh của bạn qua bài kiểm tra online
      của chúng tôi và xem trình độ của bạn ở mức nào?</span>
    <div class="title_start">
      <h1>
        <span>
          <p>
            <strong>ĐÁNH GIÁ TRÌNH ĐỘ TIẾNG ANH CHUẨN CHÂU ÂU </strong>
          </p>
        </span>
      </h1>
        <hr>

      <span class="title_content">
        <p>
          Thực hiện ngay bài kiểm tra được thiết kế theo chương trình của Đại
          học Cambridge và nhận đánh giá chính xác trình độ ngoại ngữ hiện tại
           của bạn theo thước đo CEFR*
        </p>
      </span>
      <div class="homework_button" id="js_click_start">
        <button>
          <div>
            <span>Bắt đầu ngay!</span>
          </div>
        </button>
      </div>
    </div>

  </div>

  <div class="form-word" id="js_form_word">
    <%= form_with model: @lesson, url: lessons_path, method: :post, id:"js_my_form" do |f| %>
      <%= f.fields_for :lesson_words do |ff| %>
        <%= ff.hidden_field :word_id, value: ff.object.word_id %>
        <div class="word">
          <%= ff.object.word.content.html_safe %>
        </div>
        <div class="answer">
          <% ff.object.word.word_answers.each do |fff| %>
            <li>
              <%= ff.radio_button :word_answer_id, fff.id %>
              <%= ff.label :word_answer_id,  fff.content.html_safe %>
            </li>
          <% end %>
        </div>
      <% end %>
      <br/>
      <%= f.hidden_field :category_id, value: params["category_id"] %>
      <div class="submit">
        <%= f.submit  :Submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
   <div class="note">
      <p>Trải nghiệm bài test trình độ tiếng Anh hoàn chỉnh với nhiều cấp độ</p>
      <p>Hãy đến với trung tâm Ezi-learning gần nhất và làm thử bài test tiếng
      anh của chúng tôi để xem trình độ tiếng anh của bạn ngay nhé!</p>
    </div>
</div>


 <script>
  $('#js_click_start').click(function(){
      $('#js_form_word').addClass("start");
      $('#js_click_start').html('<p id="time-counting"></p>');
      $('#js_click_start').removeAttr("id");
      var countDownTime = new Date().getTime() + 4000

      var x = setInterval(function() {
        var now = new Date().getTime();

        var distance = countDownTime - now;

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("time-counting").innerHTML = minutes + "m " + seconds + "s ";

        if (distance == 0) {
          document.getElementById("js_my_form").submit();
        }
      }, 1000);
  });
</script>
