<hr/>
<%= form_with model: @word_answers, url: admin_word_answers_path, method: :post do |form| %>
  <div class="form-group">
    <%=form.select :word_id, options_for_select(Word.all.pluck(:content, :id))%><br>

    <%= form.label :content %>
    <%= form.text_field :content , class: "form-control" %><br>

    <%= form.label :correct %><br>
    <%= form.text_field :correct  %><br><br>


    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
