
<nav class="navbar navbar-expand-lg navbar-light header-background">
  <div class="container-fluid">
    <a class="navbar-brand " href="http://localhost:3000">
    <div class="header-logo">Ezi-learning</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item li-link">
          <a class="gioi-thieu" aria-current="page" href="http://localhost:3000"><i class="fas fa-home"></i>  Home</a>
        </li>
      </ul>
      <div class="search">
        <%= form_for :term, url: categories_path, method: :get do |form| %>
          <%= text_field_tag :term, params[:term], class:"form-control" %>
          <%= submit_tag "Search", class:" btn-search ", name: nil %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <li class="log_out">
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <span>Log out</span>
          <% end %>
        </li>
      <% else %>
      <!-- Button trigger modal -->
      <button type="button" class="menu-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" >
         <i class="fas fa-user"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  form_login-modal">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Ezi-Learning</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'layouts/login_form' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>
